<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Lemon-Melon Classification</title>
</head>
<body>
    <h1>Lemon-Melon Classifier</h1>
    <form action="/classify" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Classify">
    </form>
    <div id="prediction-result"></div>
    <img id="uploaded-image" src="" style="display: none;">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // JavaScript code to update the page dynamically
        $('form').on('submit', function(event) {
            event.preventDefault();
            let formData = new FormData($('form')[0]);
            $.ajax({
                url: '/classify',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#prediction-result').text('Predicted Class: ' + response.prediction);
                    $('#uploaded-image').attr('src', URL.createObjectURL(formData.get('file')));
                    $('#uploaded-image').css('display', 'block');
                }
            });
        });
    </script>
</body>
</html>
